alembic==1.7.4
async_generator==1.10
certipy==0.1.3
entrypoints
jinja2==3.0.2
jupyter_telemetry==0.1.0
oauthlib==3.1.1
pamela; sys_platform != 'win32'
prometheus_client==0.11.0
psutil>=5.6.5; sys_platform == 'win32'
python-dateutil
requests
SQLAlchemy==1.4.25
tornado==6.1
traitlets==5.1.0
