.v3-home-hero *,
.v3-home-hero *::before,
.v3-home-hero *::after {
	box-sizing: border-box;
}

.v3-home-hero {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: auto;
	padding-top: 19.5vw;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}

.v3-home-hero__bg-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}


.v3-home-hero__content {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 24px;
	font-family: 'AvenirNext', 'Helvetica', 'Arial', sans-serif;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #e7e7e7, 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: white;
	margin-bottom: 46px;
}

.v3-home-hero__tags {
	margin-bottom: 8px;
}

.v3-home-hero__tags .v3-link:hover {
	text-decoration: underline;
}

.v3-home-hero__tags-slash {
	display: inline-block;
	margin: 0 4px;
	color: #767676;
}

.v3-home-hero__title {
	font-size: 26px;
	line-height: 38px;
	font-weight: 600;
	margin-bottom: 32px;
	letter-spacing: -0.2px;
}

.v3-home-hero__title:after {
	height: 5px;
	width: 48px;
	display: block;
	content: '';
	background-color: #ffcf00;
	margin-top: 24px;
	transition: width 150ms ease-in-out;
}

.v3-home-hero__content:hover .v3-home-hero__title:after {
	width: 96px;
}

.v3-home-hero__title a {
	display: block;
	color: black;
}

.v3-home-hero__title a:hover,
.v3-home-hero__title a:focus,
.v3-home-hero__title a:active {
	color: black;
}

.v3-home-hero__meta {
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #767676;
}

.v3-home-hero__author {
	display: none; /* Might come back later */
	margin-right: 16px;
}

.v3-home-hero__author-display-name {
	color: #1358db;
}

/* Tablet+ styles */
@media only screen and (min-width: 768px) {
	.v3-home-hero__content {
		padding: 40px 48px;
		min-height: 296px;
	}

	.v3-home-hero__tags {
		margin-bottom: 24px;
	}

	.v3-home-hero__title {
		font-size: 42px;
		line-height: 56px;
	}
}

@media only screen and (min-width: 992px) {
	.v3-home-hero__content {
		width: 66.0576923%;
	}
}

@media only screen and (min-width: 1441px) {
	.v3-home-hero {
		padding-top: 280px;
	}
}
