-r requirements.txt
# temporary pin of attrs for jsonschema 0.3.0a1
# seems to be a pip bug
attrs==21.2.0
beautifulsoup4
codecov
coverage
cryptography
html5lib  # needed for beautifulsoup
mock
notebook
pre-commit
pytest==6.2.5
pytest-asyncio
pytest-cov
requests-mock
# blacklist urllib3 releases affected by https://github.com/urllib3/urllib3/issues/1683
# I *think* this should only affect testing, not production
urllib3==1.26.7
virtualenv
